body{
  background-color: lightgray;
  position:relative;
  height: 100vh;
  width:100vw;
  /*border:1px solid;*/
}
.App {
  box-sizing: border-box;

  width: 1500px;
  height: 448px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -224px 0 0 -750px;
  /*border:1px solid;*/
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* fraction*/
  /*border:1px solid red;*/
}

.dropdownPanel{
  height:500px;
  width:200px;
  /*border:1px solid;*/
}

.sliderPanel{
  margin-top:35px;
  height:465px;
  width:600px;
  /*border:1px solid;*/
}

.frame{
  margin-top:35px;
  height:410px;
  width:410px;
  display: grid;
  /*border:1px solid;*/
}

.photoContainer{
  grid-area: 1/1;
}

.overlay{
  grid-area: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo{
  height:410px;
  width:410px
}

.table{
  margin-top:35px;
  margin-right:10px;
  margin-left:40px;
  height:410px;
  width:230px;
  /*border:1px solid;*/
}

